body{
    background-color: #E9DAC1;
}
.first{
    font-size: large;
    background-color: #E9DAC1;
}
.second{
    background-color: #E9DAC1;
}

.third{
    background-color: #FFFDE3;
}

.fourth{
    background-color: #FFF8BC;
}



